.parent {
  height: 100%; width:100%;
}

.left {
  background-color: #CDE9DF;
  height:700px;
}

.right {
  background-color:darkgray
   ;
  height:700px;
  padding-top:100px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: black;
}

.parent2 {
  background-color:#666766;
  padding: 20px;
}
